body {
	font-family: 'Open Sans', sans-serif;
}

hr {
	width: 500px;
}

/*html {
	height: 100%;
}*/

h1 {
	font-weight: 700;
	text-transform: uppercase;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#content {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 25px black;
	color: white;
	height: 600px;  	
}

/*TESTIMONIALS STYLES*/

#testimonials {
	/*display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;*/
	color: #FFFFFF;
	/*background-color: #aa0202;*/	
}

.bg-testimonial{
	background: url('assets/bg-testimonials.jpg');
	background-attachment: fixed;
    background-position: center 500px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*padding-top: 50%;*/
}

.testLeft {
	float: right;
}

.testV {
	padding-top: 40px;
}

.img-circle {
	border-radius: 50%;
	margin: 20px;
	box-shadow: 0 0 15px 0px gray;
	/*display: block;*/
	max-height: 90px;	
}

.quote {
	font-style: italic;
	font-size: 125%;
	text-align: left;
}

.name {
	font-style: italic;
	font-weight: 700;
	text-align: right;

}

.testRight {
	float: left;
}

/*PERKS STYLES*/

#perks {	
	color: #777777;
	height: 300px;
}

#perks strong {
	font-size: 125%;
	line-height: 4;
}

#perks > div {
	/*margin: 50px;*/
}

.perk {
	margin-top: 20px;
	padding: 0 25px;
	text-align: center;
}

/*DEPARTMENT STYLES*/

#deptServicing {   
	background: url('assets/bg-servicing.jpg');
	background-size: cover;
	background-position: center;
}

#deptContent {
	background: url('assets/bg-content.jpg');
	background-position: center;
}

#deptDesign {
	background: url('assets/bg-design.jpg');
	background-size: cover;
	background-position: center;
}

#deptFinance {
	background: url('assets/bg-finance.jpg');
	background-size: cover;
	background-position: center;
}

#deptPCO {
	background: url('assets/bg-pco.jpg');
	background-size: cover;
	background-position: center;
}

#deptStrategy {
	background: url('assets/bg-strategy.jpg');
	background-size: cover;
	background-position: center;
}

/*MISC STYLES*/

.navbar 
{	margin-bottom: 0px;
	border-color: transparent;
}

.header-bg {
	background: url(assets/bg-warrens.jpg) no-repeat;
	background-size: auto 100%;
}

#mainContent > .depts {
	/*transition: background 3s;*/
}

#mainContent > .depts:hover {
	background: rgb(170, 2, 2);
}

.depts {
	text-align: center;
	height: 200px;
	color: white;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.depts > strong {
	text-transform: uppercase;
	font-size: 150%;
}

.depts > hr {
	width: 30%;
	border: none;
	height: 2px;
	margin: 1em auto;
	color: white;
	background-color: white;
}

