body {
	font-family: 'Open Sans', sans-serif;
}

hr {
	width: 500px;
}

/*html {
	height: 100%;
}*/

h1 {
	font-weight: 700;
	font-size: 175%;
	text-transform: uppercase;
	margin: 20px;
}

h3 {
	font-size: 130%;
	margin: 25px 50px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.btn-danger {
	background-color: #cd0000;
}

#content {
	display: flex;
  	justify-content: center;
  	flex-direction: column;
  	align-items: center;
	text-align: center;
	text-shadow: 0px 0px 25px black;
	color: white;
	height: 600px;  	
}

/*TESTIMONIALS STYLES*/

#testimonials {
	/*display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 400px;*/
	color: #FFFFFF;
	/*background-color: #aa0202;*/	
}

.bg-testimonial{
	background: url('assets/bg-testimonials.jpg');
	background-attachment: fixed;
    background-position: center 200px;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding-top: 50%;*/
}

.divider {
	border: 0;
    height: 2px;
    width: 1000px;
    background-image: linear-gradient(to right, rgba(119, 119, 119, 0), rgba(119, 119, 119, 0.75), rgba(119, 119, 119, 0));
}

.img-circle {
	border-radius: 50%;
	margin: 40px 0 20px 0;
	box-shadow: 0 0 15px 0px gray;
	/*display: block;*/
	height: 200px;	
}

.inactiveIMG {
	border-radius: 50%;
	/*margin: 40px 0 20px 0;*/
	/*display: block;*/
	max-height: 100px;	
	margin: 10px;
	filter: grayscale(50%);
}

.hoverIMG {
	border-radius: 50%;
	max-height: 100px;	
	margin: 10px;
	box-shadow: 0 0 15px 0px gray;
}

.quote {
	font-style: italic;
	font-size: 125%;
	max-width: 700px;
}

.name {
	font-style: italic;
	font-weight: 700;
	margin: 0;
}

.inDept {
	font-size: 85%;
	font-style: italic;
}

.sName {
	font-size: 85%;
	font-weight: 700;
	margin: 0;
}

.sDept {
	font-size: 85%;

}

.testimonial {
	display: none;
}

.active-testimonial {
	display: block;
}


/*PERKS STYLES*/

#perks {	
	color: #777777;
	height: 300px;
}

#perks strong {
	font-size: 125%;
	line-height: 4;
}

#perks > div {
	/*margin: 50px;*/
}

.perk {
	margin: 40px 0;
	padding: 0 50px;
	text-align: center;
}

/*DEPARTMENT STYLES*/

#deptServicing {   
	background: url('assets/bg-servicing.jpg');
	background-size: cover;
	background-position: center;
}

#deptContent {
	background: url('assets/bg-content.jpg');
	background-position: center;
}

#deptDesign {
	background: url('assets/bg-design.jpg');
	background-size: cover;
	background-position: center;
}

#deptFinance {
	background: url('assets/bg-finance.jpg');
	background-size: cover;
	background-position: center;
}

#deptPCO {
	background: url('assets/bg-pco.jpg');
	background-size: cover;
	background-position: center;
}

#deptStrategy {
	background: url('assets/bg-strategy.jpg');
	background-size: cover;
	background-position: center;
}

.deptsTitle {
	text-align: center;
	background-color: #222222;
	color: #FFF;
}

/*MISC STYLES*/

.navbar 
{	margin-bottom: 0px;
	border-color: transparent;
}

.header-bg {
	background: url(assets/bg-warrens.jpg) no-repeat;
	background-position: 0 -250px;
	/*background-size: auto 100%;*/
}

#mainContent > .depts {
	/*transition: background 3s;*/
}

#mainContent > .depts:hover {
	background: rgb(170, 2, 2);
}

#mainContent {
	cursor: pointer;
}

.depts {
	text-align: center;
	height: 200px;
	color: white;
  	display: flex;
  	justify-content: center;
  	flex-direction: column;
}

.depts > strong {
	text-transform: uppercase;
	font-size: 150%;
}

.depts > hr {
	width: 30%;
	border: none;
	height: 2px;
	margin: 1em auto;
	color: white;
	background-color: white;
}

